{% from "macros/shared.html" import render_user_menu, render_layout_menu %}
{% from "macros/shared.html" import render_hamburger_menu with context %}
{% from 'macros/shared.html' import render_flashed_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pi SignalBox</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('home.static', filename='pisignalbox.css') }}" />
    <link rel="stylesheet" href="{{ url_for('home.static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('home.static', filename='bootstrap/bootstrap.min.css') }}">
    <script src="{{ url_for('home.static', filename='htmx/htmx.min.js') }}"></script>
    <script src="{{ url_for('home.static', filename='pisignalbox.js') }}" defer></script>
</head>
<body>

    <header class="top-bar">
        {{ render_hamburger_menu(current_user) }}
        {{ render_layout_menu() }}


        <div class="user-menu">
            {{ render_user_menu(current_user) }}
        </div>
    </header>

    {% block banner %}
    <div class="banner-container">
        <img src="{{ url_for('home.static', filename='pisignalbox-banner-small-01.png') }}" alt="Pi SignalBox - Python GUI / Virtual Signal Box / Loco Control / Automation">
    </div>
    {% endblock %}
    
    <main class="page-container container-wide">
        
        {{ render_flashed_messages() }}

        {% block content %}{% endblock %}
        
        <div id="toast-container" class="toast-container" aria-live="polite"></div>

    </main>

    <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
</body>
</html>