{% from "macros/shared.html" import render_user_menu, render_layout_menu %}
{% from "macros/shared.html" import render_hamburger_menu with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pi SignalBox</title>
    <link rel="stylesheet" href="{{ url_for('home.static', filename='pisignalbox.css') }}" />
    <script src="{{ url_for('home.static', filename='pisignalbox.js') }}" defer></script>
</head>
<body>

    <header class="top-bar">
        {{ render_hamburger_menu(current_user) }}
        {{ render_layout_menu() }}


        <div class="user-menu">
            {{ render_user_menu(current_user) }}
        </div>
    </header>

    <main>
        {% block banner %}
        <div class="banner-container">
            <img src="{{ url_for('home.static', filename='pisignalbox-banner-small-01.png') }}" alt="Pi SignalBox - Python GUI / Virtual Signal Box / Loco Control / Automation">
        </div>
        {% endblock %}

        {% block content %}{% endblock %}
        
        <div id="toast-container" class="toast-container" aria-live="polite"></div>

    </main>

</body>
</html>