{% extends "base.html" %}

{% block banner %}
        <div class="banner-container">
            <img src="{{ url_for('web.static', filename='pisignalbox-banner-01.png') }}" alt="Pi SignalBox - Python GUI / Virtual Signal Box / Loco Control / Automation">
        </div>
{% endblock %}

{% block content %}
        <div class="app-nav">
            <a href="/train-controller" class="nav-card">
                Train Controller
            </a>
            
            <a href="/track-view" class="nav-card">
                Track View
            </a>
            
            <a href="/nodes" class="nav-card">
                Nodes 
                <span style="font-size: 14px; font-weight: normal; color: #666; margin-top: 5px;">(Points & Signals)</span>
            </a>
            
            <a href="/manage" class="nav-card">
                Manage Application
                <span style="font-size: 14px; font-weight: normal; color: #666; margin-top: 5px;">(Settings & Users)</span>
            </a>
        </div>
{% endblock %}