<!-- macros.html -->

{% macro test_render_user_menu(user) %}
    <button>MACRO IS WORKING</button>
{% endmacro %}

{% macro render_user_menu(user) %}
                <button class="user-button">
                    {% if user.is_authenticated %}
                    👤 {{ user.username }} ▼
                    {% else %}
                    Guest
                    {% endif %}
                </button>
                <div class="dropdown-content">
                    <a href="/profile">User Profile</a>
                    <a href="/logout">Logout</a>
                </div>
{% endmacro %}
